body{
	background-color: #eeeeee; /* light grey */
	font-family: "HelvetivaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 500;
	font-size: 14px;
	color: #1e1e1e; /* dark gray */
}	

h1, h2, h3, h4, h4, h6 {
	color: #004060;
	padding: 10px;
}

h1 {
	background-color: #004060;
	color: #ffffff;
	text-align: center;
}

a, a:visited {
	color: #006699;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#container {
	border: 1px solid black;
	border-radius: 15px;
	width: 90%;
	margin: 0 auto;
}

.resultScreen {
	float: left;
	width: 100%;
	border: 1px solid black;
	border-radius: 15px;
	margin: 10px;
	position: relative;
	height: 400px;
	width: 400px;
}

.blockList ul {
	list-style-type: none;
	margin: 0;
	padding 0;
}

.blockList li{
	float: left;
	margin: 10px;
}

.blockList li img{
	display: block;
	margin: 10px 20px;
}

.resultScreen img {
	display: none;
} 

.weaponChoice {
	margin: 10px;
}

.clear {
	clear: both;
}

#computerChoice {
	float: right;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.resultList {
	margin: 0;
	list-style: none;
}

.weapon {
	border: 5px solid white;
}

.weapon:hover {
border: 5px solid black;
}
