#container {
	border: 1px solid black;
	border-radius: 10px;
}

.resultScreen {
	float: left;
	width: 40%;
	border: 1px solid black;
	border-radius: 15px;
	margin: 10px;
}

.resultScreen img {
	display: none;
} 

.clear {
	clear: both;
}

#computerChoice {
	float: right;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#computerResult {
	float: right;
}