@media only all and (max-device-width: 650px){
	body {

	}



	#container {
		width: 100%;
		padding: 0;
	}

	#weaponsArea ul {
		margin: 0;
	}

	#weaponsArea ul li {
		width: 100%;
		border: 1px solid black;
		margin: 0;
	}

	#weaponsArea ul li img{
		margin: 0 auto;
		border: 0px;
	}

	#weaponsArea ul li img:hover{
		border: 0px;
	}

	#resultBlock {
		float: left;
		width: 100%;
	}

	.resultScreen {
		float: left;
		border-radius: 0px;
		width: 100%;
		height: 350px;
		margin:0;
		/*margin: 0px 10px; 
		border: 10px solid black;*/
	}

	#computerScreen {
		border-top: 3px solid black;
		border-bottom: 3px solid black; 
	}

	#resultBlock {
		font-size: 2em;
	}

	.resultTitle {
		margin: 0;
	}

	.winCountTitle {
		margin-top: 0;
	}

	#stats {
		width: 100%;
		margin: 0;
		border-radius: 0;
		font-size: 2em;
	}

}